﻿
/*===padding styles=====*/
.padding-none{
    padding:0px!important;
}
.padding-left-none{
    padding-left:0px!important;
}
.padding-right-none{
    padding-right:0px!important;
}
.padding-top-none{
    padding-top:0px!important;
}
.padding-bottom-none{
    padding-bottom:0px!important;
}
.padding-top-bottom-none{
    padding-top:0px!important;
    padding-bottom:0px!important;
}
.padding-left-right-none{
    padding-left:0px!important;
    padding-right:0px!important;
}

/*====margin styles====*/
.margin-none{
    margin:0px!important;
}
.margin-left-none{
    margin-left:0px!important;
}
.margin-right-none{
    margin-right:0px!important;
}
.margin-top-none{
    margin-top:0px!important;
}
.margin-bottom-none{
    margin-bottom:0px!important;
}
.margin-top-bottom-none{
    margin-top:0px!important;
    margin-bottom:0px!important;
}
.margin-left-right-none {
    margin-left: 0px !important;
    margin-right:0px!important;
}
.margin-top-10{
    margin-top:10px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-top-80{
    margin-top:80px!important;
}



/*============ng-click style============*/

[ng-click],[data-ng-click],a{
    cursor:pointer;
}

a{
    text-decoration:none!important;
}

.text-white{
    color:#fff!important;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
.glyphicon:active{
  color: red!important;
}