﻿<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Cửa Hàng 
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Cửa hàng</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                 <table-data source="shop" data="vm.listShop" columns="[{label:'Name', value:'name'}, {label:'Address', value:'address'}, {label:'Phone', value:'phone'}, {label:'Fax', value:'fax'}, {label:'Logo', value:'logo'}, {label:'Host', value:'host'}, {label:'Active', value:'active'}]"></table-data> 
            </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
