﻿
    <section class="content-header">
        <h1>Users</h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">User</li>
        </ol>
    </section>
    <section class="content">
                <table-data source="user" data="vm.listUser" columns="[{label:'Full Name','value':'fullname'}, {label:'User Name','value':'username'}, {label:'Role','value':'role'}]"></table-data> 
    </section>
</section>


