<!--
Author: Ranjithprabhu K
Page Description: Dashboard page
Date: 05 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Contact Me

        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Contact Me</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info" style="min-height:453px;">
                <div class="panel-heading">
                    Update Form
                </div>
                <div class="panel-body">
                    <form ng-submit="ctrl.submitForm()" >
                        <md-content>
                            <md-input-container class="md-icon-float md-block" ng-repeat="attr in ctrl.listAttr">
                                <label>{{attr.label}}</label>
                                <input type="{{attr.type}}" ng-checked="attr.value" required name="name" ng-model="attr.value">
                            </md-input-container>
                            <div class="pull-right">
                                <md-button class="md-raised md-primary" type="reset">CANCEL</md-button>
                                <md-button class="md-raised md-accent" type="submit">SAVE</md-button>
                            </div>
                        </md-content>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section><!-- /.content -->

